.jumbo{
    background-image: url('../assets/main-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    z-index: 0;
    position: relative;
}

.overlay{
    background-color: black;
    opacity: 0.6;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.overlay-content{
    color: white;
    position: relative;
    z-index: 2;
    font-family: cursive;
}